.toast {
    animation-name: open_toast;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
}
.toast .progress {
    border-radius: 0;
}

.close-toast {
    animation-name: close_toast;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.bg-gray-400 {
    background-color:$gray-400;
}

@keyframes open_toast {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes close_toast {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}
@keyframes progress_toast {
    from {
       width: 0%;
    }
    to {
        width: 100%;
    }
}
